a #logo {
  width: 50px;
  height: 500px;
}

#welcomeHeading {
  margin: 100px auto;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: wheat;
}

body {
  background-color: #e8eae6;
  padding: 20px;
}
#smallMessage {
  text-align: center;
  font-style: italic;
  color: red;
  font-size: medium;
}
#main {
  border-radius: 1%;
  background-image: url("https://images.pexels.com/photos/2331569/pexels-photo-2331569.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 100%;
  padding: 5px;
}
#aboutOurProducts {
  background-color: white;
  border-radius: 5%;
  position: relative;
  top: -50px;
  color: black;
}

h1,
h4 p {
  text-align: center;
  padding: 10px;
}

.clients {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 2px;
}
.tutors {
  width: 200px;
  height: 250px;
  padding: 10px;
  margin: 2px;
}

.row {
  padding: 10px;
}
